.outerContainer{
  position: relative;
}

.main{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

  .header{
    width: 85%;
    padding-top: 20px;
  }

  

  .dataContainer{
    position: relative;
    height: 75%;
    width: 90%;
    background-color: rgba(214, 214, 208, .3);

  }

}


  
@media screen and (min-width:370px)
{
  .main{
    .nav-button{
      font-size: 16px;
    }
  }
}

@media screen and (min-width:426px)
{
  .main{

    .header{
      height: 15%;
      width: 50%;
    }

    .button-group{
      width: 75%;
    }

    .dataContainer{
      height: 70%;
    }

    .loadingComponent{
      position: absolute;
      top: 45%;
      left: 45% ;

    }
  }
}

@media screen and (min-width: 769px){
  .main{

    .header{
      width: 30%;
    }

    .nav-button{
      font-size: 20px;
    }

    .button-group{
      width: 65%;
    }

    .dataContainer{
      width: 85%
    }
  }
}

@media screen and (min-width:1025px)
{
  .main{
    .header{
      width: 25%;
    }

    .dataContainer{
      width: 80%
    }

  }
}

